<h1 class="text-center">Key Programming Assistant</h1>
<div class="row">
    <mat-card class="card">
        <mat-card-header>Key replacement assistant</mat-card-header>
        <mat-card-content><button mat-button color="primary">Open Assistant</button></mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-header>Batch key duplication assistant</mat-card-header>
        <mat-card-content><button mat-button color="primary">Open Assistant</button></mat-card-content>
    </mat-card>
</div>
