.card {
    width: 40vw;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: all 0.3s ease;
    height: 100%;
    text-align: center;
    flex-grow: 1;
    .mat-mdc-card-content {
        flex: 1;
        margin: 10px auto;
    }
    .header {
        display: flex;
        align-items: baseline;
        justify-content: center;
        font-size:x-large;
        padding: 10px;
        background-color: var(--color-primary-background);
        color: var(--color-primary-text);
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .card {
        width: calc(100% - 20px);
    }
}
