
<mat-dialog-content class="dialog-content">
    <span class="close-icon" [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </span>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Device</mat-label>
            <mat-select name="device" id="device" (valueChange)="setDevice('device1')" [disabled]="deviceSelected">
              @for (d of devices; track d.id) {
                <mat-option [value]="d.id">{{ d.name }}</mat-option>
              }
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Programmer</mat-label>
            <mat-select name="device" id="device" [disabled]="deviceSelected">
                <mat-option value="alpha">Alpha</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <hr><hr>
    <div class="step-container">
        <ng-template #viewContainerRef></ng-template>
    </div>
    <div class="action-btn-container">
        <button mat-raised-button color="primary" (click)="next()" [disabled]="(isAnyProgress$ | async)">{{ (isAnyProgress$ | async) ? 'Cancel' : (btnText$ | async) || 'Next' }}</button>
    </div>
  </mat-dialog-content>
