/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/@angular/material/core/theming/theming';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
    --color-primary-text: #fff;
    --color-primary-background: #3f51b5;
}

.dialogC {
    position: relative !important;
    .close-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #fff;
        cursor: pointer;
    }
}

