/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/@angular/material/core/theming/theming';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
    --color-primary-text: #fff;
    --color-primary-background: #3f51b5;
}
